<div class="flex-layout">
  <app-branding></app-branding>
  <mat-nav-list class="sidebar-list">
    <app-nav-item *ngFor="let item of navItems" [item]="item"> </app-nav-item>
  </mat-nav-list>
  <div class="p-24">
    <div class=" d-flex align-items-center rounded p-20 m-t-20" style="justify-content: center; background-color: rgb(137, 15, 15);">
      <div style="align-content: center; align-items: center;">
        <img src="assets/images/logos/logoInferior.png" width="130px" alt="">
      </div>
    </div>
  </div>
</div>
