<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Categorias de Libros</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <div class="row">
        <div class="col-lg-6">
  
          <mat-card class="b-1 shadow-none">
            <mat-card-header>
              <mat-card-title>Listado de Categorias</mat-card-title>
            </mat-card-header>
            <mat-card-content class="b-t-1">
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option class="f-s-14" color="primary"
                  >CIENCIAS BIOLOGICAS, QUIMICAS Y DE LA SALUD</mat-chip-option
                >
                <mat-chip-option class="f-s-14">CIENCIAS FISICO-MATEMATICAS E INGENIERIAS</mat-chip-option>
                <mat-chip-option class="f-s-14" color="accent" selected
                  >CIENCIAS SOCIALES</mat-chip-option
                >
                <mat-chip-option class="f-s-14" color="warn"
                  >HUMANIDADES Y ARTE</mat-chip-option
                >
                <mat-chip-option class="f-s-14" color="warn"
                  >TECNOLOGIA</mat-chip-option
                >
                <mat-chip-option class="f-s-14" color="warn"
                  >ADMINISTRACION Y GESTION</mat-chip-option>
              </mat-chip-listbox>
              <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="mat-elevation-z8 contLibros">
                        <table mat-table [dataSource]="libros">
                      
                          <!-- Position Column -->
                          <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let libro"> {{libro.id_libro}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="titulo">
                            <th mat-header-cell *matHeaderCellDef> Titulo </th>
                            <td mat-cell *matCellDef="let libro"> {{libro.Titulo}} </td>
                          </ng-container>
                      
                          <!-- Weight Column -->
                          <ng-container matColumnDef="Autor">
                            <th mat-header-cell *matHeaderCellDef> Autor </th>
                            <td mat-cell *matCellDef="let libro"> {{libro.Autor}} </td>
                          </ng-container>
                      
                          <!-- Symbol Column -->
                          <ng-container matColumnDef="Año_publicacion">
                            <th mat-header-cell *matHeaderCellDef> Año de Publicación </th>
                            <td mat-cell *matCellDef="let libro"> {{libro.Ano_publicacion}} </td>
                          </ng-container>

                          <ng-container matColumnDef="Editorial">
                            <th mat-header-cell *matHeaderCellDef> Editorial </th>
                            <td mat-cell *matCellDef="let libro"> {{libro.Editorial}} </td>
                          </ng-container>

                          <ng-container matColumnDef="categoria_id">
                            <th mat-header-cell *matHeaderCellDef> ID Categoria </th>
                            <td mat-cell *matCellDef="let libro"> {{libro.categoria_id}} </td>
                          </ng-container>

                          <ng-container matColumnDef="Estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let libro"> {{libro.Estado}} </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="['id', 'titulo', 'Autor','Año_publicacion','Editorial','categoria_id','Estado']"></tr>
                          <tr mat-row *matRowDef="let row; columns: ['id', 'titulo', 'Autor', 'Año_publicacion','Editorial','categoria_id','Estado']"></tr>
                        </table>
                      
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                       showFirstLastButtons
                                       aria-label="Select page of periodic elements">
                        </mat-paginator>
                      </div>
                </mat-card-content>
              </mat-card>
                   
            </mat-card-content>
          </mat-card>
        </div>
  
        </div>
    </mat-card-content>
  </mat-card>
  