.contLibros{
    width: 100%;
    overflow: hidden;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mat-column-titulo {
    min-width: 200px;
    word-wrap: break-word;
}
.autorColumn{
    max-width: 20px;
}
.contenedorCat{
    width: 100%;
    overflow: hidden;
}
td{
    font-size: 12px;
}
