<div class="row">
  <!-- --------------------------------------------------------------------------- -->
  <!-- Sales Overview -->
  <!-- --------------------------------------------------------------------------- -->
  <div>
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <h3>Dashboard</h3>
        <mat-card appearance="outlined" style="background-color: #ddc9a3; color: black;">
          <mat-card-header>
            <mat-card-title>Biblioteca Digital del CBTis 107</mat-card-title> </mat-card-header>
          <mat-card-content>Alcancemos el mañana con nuestra propia tecnología</mat-card-content>
        </mat-card>
      </mat-card-content>
      <div class="slider">
        <div class="slides">
          <div class="slide"><img src="./assets/images/slider/slider1.jpg"  alt="Slide 1"></div>
          <div class="slide"><img src="./assets/images/slider/slider2.jpg"  alt="Slide 2"></div>
          <div class="slide"><img src="./assets/images/slider/slider3.jpg"  alt="Slide 3"></div>
          <div class="slide"><img src="./assets/images/slider/slider4.jpg"  alt="Slide 4"></div>
          <div class="slide"><img src="./assets/images/slider/slider5.jpg" alt="Slide 5"></div>
        </div>
      </div>
      <br> <br>
    
      <!-- Cards de Noticias -->
      <h3 style="margin:20px;">Sección Noticias</h3>
      <div class="cards-container">
        <div class="card">
          <div class="card-image" style="background-color: #6a5acd;"><img src="./assets/images/noticias/noti1.jpg" alt=""></div>
          <h3>Programa PAEC</h3>
          <p>Evento Ecotech  recolectando conciencia por un Tuxtepec libre de basura electrónica.</p>
        </div>
        <div class="card">
          <div class="card-image" style="background-color: #20b2aa;"><img src="./assets/images/noticias/noti2.jpg" alt=""></div>
          <h3>¡Oaxaca presente en el VII Encuentro Nacional Deportivo de la DGETI 2024!</h3>
          <p>Del 25 al 29 de noviembre de 2024, la Ciudad de Chihuahua será sede del VII Encuentro Nacional Deportivo de la DGETI 2024, donde estudiantes de todo el país demostrarán su talento, disciplina y espíritu deportivo.</p>
        </div>
        <div class="card">
          <div class="card-image" style="background-color: #ffa07a;"><img src="./assets/images/noticias/noti3.jpg" alt=""></div>
          <h3> Conmemoración del Dia Internacional de la Eliminación de la Violencia contra la Mujer</h3>
          <p>El plantel en coordinación con el Instituto Municipal de la Mujer Tuxtepec, Oaxaca, llevó a cabo la actividad “Pintemos un alto a la violencia contra las mujeres y niñas”.</p>
        </div>
        <div class="card">
          <div class="card-image" style="background-color: #ff6347;"><img src="./assets/images/noticias/noti4.jpg" alt=""></div>
          <h3>PRESENTACIÓN DE PROYECTOS DEL SEMESTRE AGOSTO 2024-ENERO 2025</h3>
          <p>El día de hoy tuvimos el gusto de recibir a estudiantes de diferentes escuelas secundarias de nuestro municipio, con la finalidad de que conocieran los proyectos realizados por los estudiantes y personal docente de nuestra institución educativa.</p>
        </div>
      </div>
    </mat-card>
  </div>
  <!-- --------------------------------------------------------------------------- -->
  <!-- end Sales overview -->
  <!-- --------------------------------------------------------------------------- -->

</div>
